language = "python3"
#run = "python ch3_greedy/main.py"
#run = "python ch4_realization/main.py"
#run = "python ch5_DFS_BFS/main.py"
run = "python baekjoon/main.py"
#run = "python jump_to_python/main.py"